
@{
    ViewBag.Title = "IndexTicker";
    Layout = "~/Areas/AdminCMS/Views/Demo/_DemoLayout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Quản Lý Kèo</h3>
                    <div class="box-tools">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger main_state_name">Trạng thái</button>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Tất cả trạng thái</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="#" href="">Đã duyệt</a>
                                </li>
                                <li>
                                    <a class="#" href="">Chưa duyệt</a>
                                </li>

                            </ul>
                        </div>
                    
                        <a href="#" class="btn btn-primary">Thêm mới Kèo</a>
                    </div>
                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Ngày tạo</th>
                                <th>Người tạo</th>
                                <th>Thuộc</th>
                                <th>Trạng thái</th>
                                <th width="20%">Action</th>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td><a href="#">Tên Kèo</a></td>
                                <td>26/09/1018</td>
                                <td>Mod 1</td>
                                <td>Free - Đêm - Vàng - Kim cương</td>
                                <td>Chờ duyệt</td>
                                <td>
                                    <a href="#">Duyệt</a>
                                    | <a href="#">Chỉnh sửa</a>
                                    | <a href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td><a href="#">Tên Kèo</a></td>
                                <td>26/09/1018</td>
                                <td>Mod 1</td>
                                <td>Free - Đêm - Vàng - Kim cương</td>
                                <td>Chờ duyệt</td>
                                <td>
                                    <a href="#">Duyệt</a>
                                    | <a href="#">Chỉnh sửa</a>
                                    | <a href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td><a href="#">Tên Kèo</a></td>
                                <td>26/09/1018</td>
                                <td>Mod 1</td>
                                <td>Free - Đêm - Vàng - Kim cương</td>
                                <td>Chờ duyệt</td>
                                <td>
                                    <a href="#">Duyệt</a>
                                    | <a href="#">Chỉnh sửa</a>
                                    | <a href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td><a href="#">Tên Kèo</a></td>
                                <td>26/09/1018</td>
                                <td>Mod 1</td>
                                <td>Free - Đêm - Vàng - Kim cương</td>
                                <td>Chờ duyệt</td>
                                <td>
                                    <a href="#">Duyệt</a>
                                    | <a href="#">Chỉnh sửa</a>
                                    | <a href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td><a href="#">Tên Kèo</a></td>
                                <td>26/09/1018</td>
                                <td>Mod 1</td>
                                <td>Free - Đêm - Vàng - Kim cương</td>
                                <td>Chờ duyệt</td>
                                <td>
                                    <a href="#">Duyệt</a>
                                    | <a href="#">Chỉnh sửa</a>
                                    | <a href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td><a href="#">Tên Kèo</a></td>
                                <td>26/09/1018</td>
                                <td>Mod 1</td>
                                <td>Free - Đêm - Vàng - Kim cương</td>
                                <td>Chờ duyệt</td>
                                <td>
                                    <a href="#">Duyệt</a>
                                    | <a href="#">Chỉnh sửa</a>
                                    | <a href="#">Delete</a>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
   

            </div><!-- /.box -->
            <!-- Form Element sizes -->
        </div><!--/.col (left) -->
    </div>   <!-- /.row -->
</section>



