
@{
    ViewBag.Title = "UpdateInfoAcc";
    Layout = "~/Areas/AdminCMS/Views/Demo/_DemoLayout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <p>Bạn đang đăng nhập bằng tài khoản <strong> abc</strong>.</p>

                </div><!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <!-- /.box -->
                  

                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Tên Đăng Nhập</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Tên ">
                               
                            </div>

                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>

                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Họ Và Tên </label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Họ Và Tên">
                            </div>


                            <div class="form-group col-md-12">
                                <label>Ngày Sinh:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                </div><!-- /.input group -->
                            </div>
                         

                          

                           
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary">Cập Nhật</button>
                            </div>


                        </div><!-- /.box-body -->
                        <div class="col-md-4">

                            <div class="form-group col-md-12">
                                <label for="exampleInputEmail1">Số Điện Thoại</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Số Điện Thoại">
                            </div>


                            <div class="form-group col-md-12">
                                <label>Ngày Tham Gia:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                </div><!-- /.input group -->
                            </div>

                            <div class="form-group col-md-12">
                                <label>Ngày Được Duyệt:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                </div><!-- /.input group -->
                            </div>
                        </div><!-- /.box-body -->

                        <div class="col-md-4">

                            <div class="form-group">
                                <label for="exampleInputFile">Hình</label>
                                <input type="file" id="Imgfiles" name="Imgfiles" value="Chọn hình">

                            </div>
                            <div class="form-group">
                                <p class="help-block">Hình đại diện</p>
                            </div>
                            <div class="form-group imgboxdata">
                                <img class="img-responsive" src="#" alt="User Image" id="blah">
                            </div>

                        </div><!-- /.box-body -->
                   
                </div><!-- /.box -->
            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div><!--/.col (left) -->
    </div>   <!-- /.row -->
</section>

