
@{
    ViewBag.Title = "Upgrade";
    Layout = "~/Areas/AdminCMS/Views/Demo/_DemoLayout.cshtml";
}


<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Trạng thái</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <h2 class="page-header">Thông tin tài khoản : TÊN TÀI KHOẢN</h2>
                    <p>
                        Trạng thái :
                        <strong> Đang hoạt động</strong>
                        <a href="#"
                           class="btn bg-olive btn-flat margin">Tạm Khoá</a>

                    </p>
                    <p>
                        Xác nhận Email :
                        <strong> Chưa xác nhận</strong>
                        <a href="#"
                           class="btn bg-olive btn-flat margin">Yêu cầu xác nhận</a>

                    </p>
                    <p>
                        Xác nhận Phone :
                        <strong> Chưa xác nhận</strong>
                        <a href="#"
                           class="btn bg-olive btn-flat margin">Yêu cầu xác nhận</a>

                    </p>

                

                </div><!-- /.box-body -->
                <!-- form start -->
            </div><!-- /.box box-primary -->
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box-header with-border">
                        <h3>Quyền hiện tại</h3>
                    </div><!-- /.box-header -->
                    <table class="table table-hover col-md-6">
                        <tbody>
                            <tr>
                                <th>Tên quyền</th>
                                <th>Xoá</th>
                            </tr>
                            <tr>
                                <td> <span class="label label-success">Thêm bài viết</span></td>
                                <td><a href="#" class="btn btn-block btn-danger btn-xs">Xoá</a></td>
                            </tr>
                            <tr>
                                <td> <span class="label label-success">Xoá bài viết</span></td>
                                <td><a href="#" class="btn btn-block btn-danger btn-xs">Xoá</a></td>
                            </tr>

                        </tbody>
                    </table>
                    <h2 class="page-header">Thêm quyền</h2>
                    <table class="table table-hover col-md-6">
                        <tbody>
                            <tr>
                                <th>Tên quyền</th>
                                <th>Xoá</th>
                            </tr>
                            <tr>
                                <td> <span class="label label-success">Thêm kèo</span></td>
                                <td><a href="#" class="btn btn-block btn-danger btn-xs">Thêm</a></td>
                            </tr>
                            <tr>
                                <td> <span class="label label-success">cập nhật kèo</span></td>
                                <td><a href="#" class="btn btn-block btn-danger btn-xs">Thêm</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div><!--/.col (left) -->

            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Nâng cấp gói cước</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">
                        <h2 class="page-header">Gói cước hiện tại <span class="label label-success">Free</span></h2>
                        <table class="table table-hover col-md-6">
                            <tbody>
                                <tr>
                                    <th>Tên gói cước</th>
                                    <th>Xoá</th>
                                </tr>



                                <tr>
                                    <td> <span class="label label-success">Đêm</span></td>
                                    <td><a href="#" class="btn btn-block btn-danger btn-xs">Nâng cấp</a></td>
                                </tr>
                                <tr>
                                    <td> <span class="label label-success">Đồng</span></td>
                                    <td><a href="#" class="btn btn-block btn-danger btn-xs">Nâng cấp</a></td>
                                </tr>
                                <tr>
                                    <td> <span class="label label-success">Vàng</span></td>
                                    <td><a href="#" class="btn btn-block btn-danger btn-xs">Nâng cấp</a></td>
                                </tr>
                                <tr>
                                    <td> <span class="label label-success">Kim cương</span></td>
                                    <td><a href="#" class="btn btn-block btn-danger btn-xs">Nâng cấp</a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div><!-- /.box-body -->


                </div><!-- /.box -->


            </div><!--/.col (left) -->
            <!-- right column -->

        </div>   <!-- /.row -->
</section>