
@{
    ViewBag.Title = "Thông báo";
}

<h1>OOPs - Chức năng này đang trong quá trình bảo trì bạn vui lòng quay lại vào lần sau</h1>
<h2>Đường dẫn đang bảo trì <a href="@ViewData["pathError"]">@ViewData["pathError"]</a></h2>