<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="alluneedbEntities" connectionString="metadata=res://*/DataEntity.DataModel.csdl|res://*/DataEntity.DataModel.ssdl|res://*/DataEntity.DataModel.msl;      
         provider=System.Data.SqlClient;     
         provider connection string=&quot;  
         data source=112.78.2.203,1433;  
         initial catalog=idea4846_tradecoin;      
         integrated security=False;       
         user id=idea4846_tradecoin;  password=Tradecoin@2018;          
         MultipleActiveResultSets=True;    
         App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!--  <add name="alluneedbEntities"
          connectionString="metadata=res://*/DataEntity.DataModel.csdl|res://*/DataEntity.DataModel.ssdl|res://*/DataEntity.DataModel.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;
         data source=112.78.2.94;
         initial catalog=daiad81d_tmp2016;
         integrated security=False;
         user id=daiad81d_aln;password=Aln2016@;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />

    <add name="alluneedbEntities" connectionString="metadata=res://*/DataEntity.DataModel.csdl|res://*/DataEntity.DataModel.ssdl|res://*/DataEntity.DataModel.msl;      
         provider=System.Data.SqlClient;     
         provider connection string=&quot;  
         data source=112.78.2.94,1433;  
         initial catalog=daiad81d_chobiker;      
         integrated security=False;       
         user id=daiad81d_chobiker;password=Zywf521$;          
         MultipleActiveResultSets=True;    
         App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>