
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using DataModel.Extension;
@using DataModel.DataEntity;
@using DataModel.DataViewModel;
@model IndexViewModel


<style>
    .service-box-v1 ul {
        padding: unset !important;
    }
</style>

<!-- Intro Section -->
<section id="body" class="intro-section">
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            <ul>
                <!-- SLIDE 1 -->
                <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide">

                    <iframe width="100%" height="100%" src="@Model.indexvideo.PageContent.ContentExcerpt"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
                            alt="slidebg1"
                            data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"></iframe>
                </li>

            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
            <div class="tp-dottedoverlay twoxtwo"></div>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Services Section -->
<section id="crypto">
    <div class="container content-lg">
        <div class="parallax-twitter parallaxBg">
            <div class="container parallax-twitter-in">
                <div class="margin-bottom-30">
                    <h2>CRYPTO là gì</h2>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p style="unicode-bidi: plaintext!important;color: white!important;font-size: 16px!important">
                            @Html.Raw(Model.crypto.PageContent.ContentText)
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="about-section">
    <div class="container content-lg">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="~/@Model.intro.PageContent.MediaUrl" alt="">
            </div>
            <div class="col-md-6 ">
                <div class="clearfix margin-bottom-30">
                    <div class="content-boxes-in-v3">
                        <h1>Giới thiệu</h1>
                      <span class="text-bold" style="color:white"> @Html.Raw(Model.intro.PageContent.ContentText) </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Portfolio Section -->
<!-- News Section -->
<section id="trading" class="news-section">
    <div class="container content-lg">
        <div class="parallax-twitter parallaxBg">
            <div class="container parallax-twitter-in">
                <div class="margin-bottom-30">

                    <h2>TRADE</h2>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        @Html.Raw(Model.trade.PageContent.ContentText)
                 

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End News Section -->

<section id="contact">
    <div class="container content-lg">
        <div class="row service-box-v1">
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
                    <h2 class="heading-md">Gold Package</h2>
                    <p>Gold Package</p>
                    <ul class="list-unstyled">
                        <li>
                            A month: 10$
                        </li>
                        <li>Three months: 25$</li>
                        <li>Six months: 50$</li>
                        <li>A year 90$</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
                    <h2 class="heading-sm">Silver Package</h2>
                    <p>Silver Package</p>
                    <ul class="list-unstyled">
                        <li>
                            A month: 10$
                        </li>
                        <li>Three months: 25$</li>
                        <li>Six months: 50$</li>
                        <li>A year 90$</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-sm">Night Package</h2>
                    <p>Night Package</p>
                    <ul class="list-unstyled">
                        <li>
                            A month: 10$
                        </li>
                        <li>Three months: 25$</li>
                        <li>Six months: 50$</li>
                        <li>A year 90$</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block service-block-default">
                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-sm">Free</h2>
                    <p>Free</p>
                    <ul class="list-unstyled">
                        <li>
                            Free
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- End Services Section -->
